{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List Detail</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}"/>
</head>
<body>
    <header></header>
    <main>
        <div>
            <h1>Are you sure?</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Delete</button>
              </form>
        </div>
    </main>
    <footer></footer>
</body>
</html>
