{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}"/>
</head>
<body>
    <header></header>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <div><a href="{% url 'todo_list_create' %}">Create a new list</a></div>
                <div><a href="{% url 'todo_item_create' %}">Create a new item</a></div>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todolist in my_list_object%}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' todolist.id %}">{{todolist.name}}</a></td>
                            <td>{{todolist.items.all | length}}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer></footer>
</body>
</html>
